<!-- login.html -->

{% extends 'base.html' %}

{% block title %} 
Calculator
{% endblock %}

{% block username %} Welcome : {{username}} {% endblock %}

{% block content %}

<form  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full" method="post" action="/calculator">
    <div class="pb-6 text-lg">
        Get Sum of 2 numbers
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
            Number 1
        </label>
        <input required
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="num1"
            type="number"
            name="num1"
            value="{{num1}}"
        ></input>
    </div>
    <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Number 2
        </label>
        <input required
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="num2"
            type="number"
            name="num2"
            value="{{num2}}"
        ></input>
        <input type="hidden" name="username" value="{{username}}">
    </div>
    <div class="flex items-center justify-between">
        <button
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
        >
            Get Sum
        </button>
        
    </div>
</form>
{% if sum %}
<div class=" py-6 text-center text-lg"> Sum is {{sum}}</div>
{% endif %}

{% endblock %}



